<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
  integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
  crossorigin="anonymous"
/>
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
  rel="stylesheet"
/>
<h1></h1>
<body>
  <div class="main-block">
    <div class="left-part">
      <i class="fas fa-file-signature"></i>
      <h1>Register to our space</h1>
      <p><button (click)="onContinue1()" >Contract List</button></p>
    </div>
    <form #myform="ngForm">
      <div class="title"  >
        <i class="fas fa-pencil-alt"></i>
        <h2 style="color">Register here</h2>
      </div>
      <div class="info">
        <input type="text" ngModel name="cout" placeholder="cout" />
        <div class="row">
          <div class="col-md-6">
            <input
              class="fname"
              type="text"
              #imo
              placeholder="id_immobilier"
            />
          </div>
          <div class="col-md-6">
            <button (click)="checkim(imo.value)">Check your code</button>
          </div>
        </div>
<select *ngIf="owner">
  <option  *ngFor="let item of owner.accounts">{{item.address}}</option>
</select>
        <div class="row">
          <div class="col-md-6">
            <input
              class="fname"
              type="text"
              name="name"
              #cl
              placeholder="Account_Byer"
            />
          </div>
          <div class="col-md-6">
            <button (click)="checkcl(cl.value)">Check your code</button>
          </div>
        </div>
        <select *ngIf="bayer">

          <option *ngFor="let item of bayer.accounts">{{item.address}}</option>
        </select>
      </div>

      <div class="checkbox">
        <input type="checkbox" name="checkbox" /><span
          >I agree to the <a href="#">Privacy Poalicy</a></span
        >
      </div>
      <button (click)="valider(myform.value)">Submit</button>
    </form>
  </div>
</body>