<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<h1></h1>
<body>
    <div class="main-block">
      <div class="left-part">
        <i class="fas fa-home"></i>
        <h1>Register to our space</h1>
        <p><button type="submit" href="/">Immobilier List</button></p>
      </div>
      <form #myform="ngForm">
        <div class="title">
          <i class="fas fa-pencil-alt"></i>
          <h2>Register here</h2>
        </div>
        <div class="info">
          <input class="fname" ngModel type="text" name="address" placeholder="address">
          <input type="text" ngModel name="codeImmobilier" placeholder="codeImmobilier">
          <input type="text" ngModel name="type" placeholder="type">
          <input type="text" ngModel name="description" placeholder="description">
          <input type="text" ngModel name="surface" placeholder="surface">
          <div class="row">
            <div class="col-md-6"><input type="text" name="client code"  #code placeholder="client code"></div>
            <div class="col-md-6"><button (click)="getClient(code.value)">Check your code</button></div>
          </div>


          <input type="text"  [(ngModel)]="nom" disabled #client name="client" placeholder="Client">
        </div>

        <button (click)="addclient(myform)">Submit</button>
      </form>
    </div>
  </body>

<!--
private String id;
private String address;
private String type;
private String description;
private double surface ;

-->
