<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<h1></h1>
<body>
    <div class="main-block">
      <div class="left-part">
        <i class="fas fa-user"></i>
        <h1>Register to our space</h1>
        <p><button (click)="onContinue1()">Clients liste</button></p>
      </div>
      <form #myform="ngForm">
        <div class="title">
          <i class="fas fa-pencil-alt"></i>
          <h2>Register here</h2>
        </div>
        <div class="info">
          <input class="fname" required minlength="6" ngModel type="text" name="nom" placeholder="First name">

          <input type="text" ngModel name="prenom" placeholder="Secoend name">
          <input type="text" ngModel name="email" placeholder="Email">
          <input type="text" ngModel name="codeClient" placeholder="Code Client">
        </div>
        <div class="checkbox">
          <input type="checkbox" name="checkbox"><span>I agree to the <a href="#">Privacy Poalicy.</a></span>
        </div>
        <button (click)="test(myform)" >Submit</button>
      </form>
    </div>
  </body>
